# Helsinki city bikes Data Cleaning

# Importing Required Libraries in python

In [ ]:
# imports

import numpy as np
import pandas as pd

### Geting Data from the url Given

In [ ]:
# load data

data_url = "https://dev.hsl.fi/citybikes/od-trips-2021/2021-05.csv"

df = pd.read_csv(data_url)

### Geting the head of the dataframe

In [ ]:
df.head()

,Departure,Return,Departure station id,Departure station name,Return station id,Return station name,Covered distance (m),Duration (sec.)
0,2021-05-31T23:57:25,2021-06-01T00:05:46,94,Laajalahden aukio,100,Teljäntie,2043.0,500
1,2021-05-31T23:56:59,2021-06-01T00:07:14,82,Töölöntulli,113,Pasilan asema,1870.0,611
2,2021-05-31T23:56:44,2021-06-01T00:03:26,123,Näkinsilta,121,Vilhonvuorenkatu,1025.0,399
3,2021-05-31T23:56:23,2021-06-01T00:29:58,4,Viiskulma,65,Hernesaarenranta,4318.0,2009
4,2021-05-31T23:56:11,2021-06-01T00:02:02,4,Viiskulma,65,Hernesaarenranta,1400.0,350

### Geting the shape of the dataframe

In [ ]:
df.shape

(814676, 8)

### Using ```df.drop``` to drop Duration column with less than 10 sec

In [ ]:
df = df.drop(df[df['Duration (sec.)'] < 10].index)

### Using ```df.drop``` to drop Covered Distance column with less than 10 meters

In [ ]:
df = df.drop(df[df['Covered distance (m)'] < 10].index)

### Printing out the dataframe after droping the columns

In [ ]:
df

,Departure,Return,Departure station id,Departure station name,Return station id,Return station name,Covered distance (m),Duration (sec.)
0,2021-05-31T23:57:25,2021-06-01T00:05:46,94,Laajalahden aukio,100,Teljäntie,2043.0,500
1,2021-05-31T23:56:59,2021-06-01T00:07:14,82,Töölöntulli,113,Pasilan asema,1870.0,611
2,2021-05-31T23:56:44,2021-06-01T00:03:26,123,Näkinsilta,121,Vilhonvuorenkatu,1025.0,399
3,2021-05-31T23:56:23,2021-06-01T00:29:58,4,Viiskulma,65,Hernesaarenranta,4318.0,2009
4,2021-05-31T23:56:11,2021-06-01T00:02:02,4,Viiskulma,65,Hernesaarenranta,1400.0,350
...,...,...,...,...,...,...,...,...
814671,2021-05-01T00:00:41,2021-05-01T00:12:19,17,Varsapuistikko,45,Brahen kenttä,1690.0,693
814672,2021-05-01T00:00:32,2021-05-01T00:29:03,2,Laivasillankatu,201,Länsisatamankuja,6344.0,1709
814673,2021-05-01T00:00:30,2021-05-01T00:11:55,25,Narinkka,123,Näkinsilta,2088.0,679
814674,2021-05-01T00:00:30,2021-05-01T00:09:53,17,Varsapuistikko,45,Brahen kenttä,1688.0,558
814675,2021-05-01T00:00:11,2021-05-01T00:04:34,138,Arabiankatu,138,Arabiankatu,1057.0,259

In [ ]:
df

,Departure,Return,Departure station id,Departure station name,Return station id,Return station name,Covered distance (m),Duration (sec.)
0,2021-05-31T23:57:25,2021-06-01T00:05:46,94,Laajalahden aukio,100,Teljäntie,2043.0,500
1,2021-05-31T23:56:59,2021-06-01T00:07:14,82,Töölöntulli,113,Pasilan asema,1870.0,611
2,2021-05-31T23:56:44,2021-06-01T00:03:26,123,Näkinsilta,121,Vilhonvuorenkatu,1025.0,399
3,2021-05-31T23:56:23,2021-06-01T00:29:58,4,Viiskulma,65,Hernesaarenranta,4318.0,2009
4,2021-05-31T23:56:11,2021-06-01T00:02:02,4,Viiskulma,65,Hernesaarenranta,1400.0,350
...,...,...,...,...,...,...,...,...
814671,2021-05-01T00:00:41,2021-05-01T00:12:19,17,Varsapuistikko,45,Brahen kenttä,1690.0,693
814672,2021-05-01T00:00:32,2021-05-01T00:29:03,2,Laivasillankatu,201,Länsisatamankuja,6344.0,1709
814673,2021-05-01T00:00:30,2021-05-01T00:11:55,25,Narinkka,123,Näkinsilta,2088.0,679
814674,2021-05-01T00:00:30,2021-05-01T00:09:53,17,Varsapuistikko,45,Brahen kenttä,1688.0,558
814675,2021-05-01T00:00:11,2021-05-01T00:04:34,138,Arabiankatu,138,Arabiankatu,1057.0,259

### Saving the cleaned Data in csv using ``` df.to_csv()```

In [ ]:
df.to_csv('filtered_data.csv', index=False)

### Getting Data from the second url

In [ ]:
data_url2 = "https://dev.hsl.fi/citybikes/od-trips-2021/2021-06.csv"

In [ ]:
df2 = pd.read_csv(data_url2)

###  Printing the dataframe

In [ ]:
df2

,Departure,Return,Departure station id,Departure station name,Return station id,Return station name,Covered distance (m),Duration (sec.)
0,2021-06-30T23:59:46,2021-06-30T23:59:55,41,Ympyrätalo,41,Ympyrätalo,0.0,8
1,2021-06-30T23:59:36,2021-07-01T00:06:21,107,Tenholantie,111,Esterinportti,1847.0,407
2,2021-06-30T23:59:34,2021-07-01T00:06:23,9,Erottajan aukio,40,Hakaniemi (M),1602.0,405
3,2021-06-30T23:59:34,2021-07-01T00:08:00,113,Pasilan asema,107,Tenholantie,2277.0,502
4,2021-06-30T23:59:25,2021-07-01T00:22:15,41,Ympyrätalo,11,Unioninkatu,4010.0,1366
...,...,...,...,...,...,...,...,...
1223477,2021-06-01T00:03:54,2021-06-01T00:14:17,111,Esterinportti,119,Gebhardinaukio,1997.0,618
1223478,2021-06-01T00:03:54,2021-06-01T00:25:22,753,Linnuntie,96,Huopalahdentie,6536.0,1284
1223479,2021-06-01T00:01:50,2021-06-01T00:03:04,307,Ulappasilta,307,Ulappasilta,0.0,70
1223480,2021-06-01T00:01:28,2021-06-01T00:21:04,239,Viikin tiedepuisto,113,Pasilan asema,5678.0,1171
1223481,2021-06-01T00:00:01,2021-06-01T00:26:27,89,Tilkanvierto,711,Kirjurinkuja,5660.0,1583

### Using df.drop to drop Duration column with less than 10 sec

In [ ]:
df2 = df2.drop(df2[df2['Duration (sec.)'] < 10].index)

### Using df.drop to drop Distance column with less than 10 meters

In [ ]:
df2 = df2.drop(df2[df2['Covered distance (m)'] < 10].index)

### Printing out the dataframe after droping the columns

In [ ]:
df2

,Departure,Return,Departure station id,Departure station name,Return station id,Return station name,Covered distance (m),Duration (sec.)
1,2021-06-30T23:59:36,2021-07-01T00:06:21,107,Tenholantie,111,Esterinportti,1847.0,407
2,2021-06-30T23:59:34,2021-07-01T00:06:23,9,Erottajan aukio,40,Hakaniemi (M),1602.0,405
3,2021-06-30T23:59:34,2021-07-01T00:08:00,113,Pasilan asema,107,Tenholantie,2277.0,502
4,2021-06-30T23:59:25,2021-07-01T00:22:15,41,Ympyrätalo,11,Unioninkatu,4010.0,1366
5,2021-06-30T23:59:25,2021-07-01T00:14:06,259,Petter Wetterin tie,248,Gunillantie,3555.0,877
...,...,...,...,...,...,...,...,...
1223476,2021-06-01T00:04:34,2021-06-01T00:12:10,78,Messeniuksenkatu,117,Brahen puistikko,2014.0,455
1223477,2021-06-01T00:03:54,2021-06-01T00:14:17,111,Esterinportti,119,Gebhardinaukio,1997.0,618
1223478,2021-06-01T00:03:54,2021-06-01T00:25:22,753,Linnuntie,96,Huopalahdentie,6536.0,1284
1223480,2021-06-01T00:01:28,2021-06-01T00:21:04,239,Viikin tiedepuisto,113,Pasilan asema,5678.0,1171
1223481,2021-06-01T00:00:01,2021-06-01T00:26:27,89,Tilkanvierto,711,Kirjurinkuja,5660.0,1583

## Saving the cleaned Data in csv using df.to_csv()

In [ ]:
df2.to_csv('filtered2_data.csv', index=False)

###

In [ ]:
data_url3 = "https://dev.hsl.fi/citybikes/od-trips-2021/2021-07.csv"

In [ ]:
df3 = pd.read_csv(data_url3)

In [ ]:
df3

,Departure,Return,Departure station id,Departure station name,Return station id,Return station name,Covered distance (m),Duration (sec.)
0,2021-07-31T23:59:59,2021-08-01T00:09:15,113,Pasilan asema,78,Messeniuksenkatu,1602.0,553
1,2021-07-31T23:59:55,2021-08-01T00:08:45,135,Velodrominrinne,115,Venttiilikuja,1307.0,532
2,2021-07-31T23:59:55,2021-08-01T00:03:24,258,Abraham Wetterin tie,260,Herttoniemi (M),820.0,205
3,2021-07-31T23:59:47,2021-08-01T00:05:52,122,Lintulahdenkatu,16,Liisanpuistikko,1298.0,369
4,2021-07-31T23:59:33,2021-08-01T00:14:49,126,Kalasatama (M),255,Laivalahden puistotie,3875.0,912
...,...,...,...,...,...,...,...,...
1208839,2021-07-01T00:00:39,2021-07-01T00:04:40,125,Arielinkatu,404,Sompasaari,479.0,236
1208840,2021-07-01T00:00:26,2021-07-01T00:22:18,41,Ympyrätalo,11,Unioninkatu,4233.0,1311
1208841,2021-07-01T00:00:19,2021-07-01T00:03:32,47,Vanha Kauppahalli,12,Kanavaranta,667.0,193
1208842,2021-07-01T00:00:11,2021-07-01T00:07:06,99,Muusantori,93,Torpanranta,2141.0,414
1208843,2021-07-01T00:00:04,2021-07-01T00:04:32,28,Lastenlehto,30,Itämerentori,790.0,264

In [ ]:
df3 = df3.drop(df3[df3['Duration (sec.)'] < 10].index)

In [ ]:
df3 = df3.drop(df3[df3['Covered distance (m)'] < 10].index)

In [ ]:
df3

,Departure,Return,Departure station id,Departure station name,Return station id,Return station name,Covered distance (m),Duration (sec.)
0,2021-07-31T23:59:59,2021-08-01T00:09:15,113,Pasilan asema,78,Messeniuksenkatu,1602.0,553
1,2021-07-31T23:59:55,2021-08-01T00:08:45,135,Velodrominrinne,115,Venttiilikuja,1307.0,532
2,2021-07-31T23:59:55,2021-08-01T00:03:24,258,Abraham Wetterin tie,260,Herttoniemi (M),820.0,205
3,2021-07-31T23:59:47,2021-08-01T00:05:52,122,Lintulahdenkatu,16,Liisanpuistikko,1298.0,369
4,2021-07-31T23:59:33,2021-08-01T00:14:49,126,Kalasatama (M),255,Laivalahden puistotie,3875.0,912
...,...,...,...,...,...,...,...,...
1208839,2021-07-01T00:00:39,2021-07-01T00:04:40,125,Arielinkatu,404,Sompasaari,479.0,236
1208840,2021-07-01T00:00:26,2021-07-01T00:22:18,41,Ympyrätalo,11,Unioninkatu,4233.0,1311
1208841,2021-07-01T00:00:19,2021-07-01T00:03:32,47,Vanha Kauppahalli,12,Kanavaranta,667.0,193
1208842,2021-07-01T00:00:11,2021-07-01T00:07:06,99,Muusantori,93,Torpanranta,2141.0,414
1208843,2021-07-01T00:00:04,2021-07-01T00:04:32,28,Lastenlehto,30,Itämerentori,790.0,264

In [ ]:
df3.to_csv('filtered3_data.csv', index=False)

# **Merge the three csv files**

In [ ]:
df1 = pd.read_csv('filtered_data.csv')
df2 = pd.read_csv('filtered2_data.csv')
df3 = pd.read_csv('filtered_data.csv')

In [ ]:
df1

,Departure,Return,Departure station id,Departure station name,Return station id,Return station name,Covered distance (m),Duration (sec.)
0,2021-05-31T23:57:25,2021-06-01T00:05:46,94,Laajalahden aukio,100,Teljäntie,2043.0,500
1,2021-05-31T23:56:59,2021-06-01T00:07:14,82,Töölöntulli,113,Pasilan asema,1870.0,611
2,2021-05-31T23:56:44,2021-06-01T00:03:26,123,Näkinsilta,121,Vilhonvuorenkatu,1025.0,399
3,2021-05-31T23:56:23,2021-06-01T00:29:58,4,Viiskulma,65,Hernesaarenranta,4318.0,2009
4,2021-05-31T23:56:11,2021-06-01T00:02:02,4,Viiskulma,65,Hernesaarenranta,1400.0,350
...,...,...,...,...,...,...,...,...
785293,2021-05-01T00:00:41,2021-05-01T00:12:19,17,Varsapuistikko,45,Brahen kenttä,1690.0,693
785294,2021-05-01T00:00:32,2021-05-01T00:29:03,2,Laivasillankatu,201,Länsisatamankuja,6344.0,1709
785295,2021-05-01T00:00:30,2021-05-01T00:11:55,25,Narinkka,123,Näkinsilta,2088.0,679
785296,2021-05-01T00:00:30,2021-05-01T00:09:53,17,Varsapuistikko,45,Brahen kenttä,1688.0,558
785297,2021-05-01T00:00:11,2021-05-01T00:04:34,138,Arabiankatu,138,Arabiankatu,1057.0,259

In [ ]:
df2

,Departure,Return,Departure station id,Departure station name,Return station id,Return station name,Covered distance (m),Duration (sec.)
0,2021-06-30T23:59:36,2021-07-01T00:06:21,107,Tenholantie,111,Esterinportti,1847.0,407
1,2021-06-30T23:59:34,2021-07-01T00:06:23,9,Erottajan aukio,40,Hakaniemi (M),1602.0,405
2,2021-06-30T23:59:34,2021-07-01T00:08:00,113,Pasilan asema,107,Tenholantie,2277.0,502
3,2021-06-30T23:59:25,2021-07-01T00:22:15,41,Ympyrätalo,11,Unioninkatu,4010.0,1366
4,2021-06-30T23:59:25,2021-07-01T00:14:06,259,Petter Wetterin tie,248,Gunillantie,3555.0,877
...,...,...,...,...,...,...,...,...
1180045,2021-06-01T00:04:34,2021-06-01T00:12:10,78,Messeniuksenkatu,117,Brahen puistikko,2014.0,455
1180046,2021-06-01T00:03:54,2021-06-01T00:14:17,111,Esterinportti,119,Gebhardinaukio,1997.0,618
1180047,2021-06-01T00:03:54,2021-06-01T00:25:22,753,Linnuntie,96,Huopalahdentie,6536.0,1284
1180048,2021-06-01T00:01:28,2021-06-01T00:21:04,239,Viikin tiedepuisto,113,Pasilan asema,5678.0,1171
1180049,2021-06-01T00:00:01,2021-06-01T00:26:27,89,Tilkanvierto,711,Kirjurinkuja,5660.0,1583

In [ ]:
df3

,Departure,Return,Departure station id,Departure station name,Return station id,Return station name,Covered distance (m),Duration (sec.)
0,2021-05-31T23:57:25,2021-06-01T00:05:46,94,Laajalahden aukio,100,Teljäntie,2043.0,500
1,2021-05-31T23:56:59,2021-06-01T00:07:14,82,Töölöntulli,113,Pasilan asema,1870.0,611
2,2021-05-31T23:56:44,2021-06-01T00:03:26,123,Näkinsilta,121,Vilhonvuorenkatu,1025.0,399
3,2021-05-31T23:56:23,2021-06-01T00:29:58,4,Viiskulma,65,Hernesaarenranta,4318.0,2009
4,2021-05-31T23:56:11,2021-06-01T00:02:02,4,Viiskulma,65,Hernesaarenranta,1400.0,350
...,...,...,...,...,...,...,...,...
785293,2021-05-01T00:00:41,2021-05-01T00:12:19,17,Varsapuistikko,45,Brahen kenttä,1690.0,693
785294,2021-05-01T00:00:32,2021-05-01T00:29:03,2,Laivasillankatu,201,Länsisatamankuja,6344.0,1709
785295,2021-05-01T00:00:30,2021-05-01T00:11:55,25,Narinkka,123,Näkinsilta,2088.0,679
785296,2021-05-01T00:00:30,2021-05-01T00:09:53,17,Varsapuistikko,45,Brahen kenttä,1688.0,558
785297,2021-05-01T00:00:11,2021-05-01T00:04:34,138,Arabiankatu,138,Arabiankatu,1057.0,259

In [ ]:
df_merged_12 = pd.merge(df1, df2)

In [ ]:
df_merged_12

Empty DataFrame
Columns: [Departure, Return, Departure station id, Departure station name, Return station id, Return station name, Covered distance (m), Duration (sec.)]
Index: []

In [ ]:
df_merged_12 = pd.merge(df_merged_12, df3)

In [ ]:
df_merged_12

Empty DataFrame
Columns: [Departure, Return, Departure station id, Departure station name, Return station id, Return station name, Covered distance (m), Duration (sec.)]
Index: []

In [ ]:
df_merged_12.to_csv('merged_filtered_data.csv', index=False)

In [ ]:
df_merged_12.to_json('data.json', orient='records')

In [ ]:
json_data = df_merged_12.to_json(orient='records')

In [ ]:
df_merged_12

Empty DataFrame
Columns: [Departure, Return, Departure station id, Departure station name, Return station id, Return station name, Covered distance (m), Duration (sec.)]
Index: []

In [ ]:
df = pd.read_csv('merged_filtered_data.csv')

In [ ]:
df

Empty DataFrame
Columns: [Departure, Return, Departure station id, Departure station name, Return station id, Return station name, Covered distance (m), Duration (sec.)]
Index: []

In [ ]:
df_stacked = pd.concat([df1, df2])

In [ ]:
df_stacked = pd.concat([df_stacked,df3])

In [ ]:
df_stacked

,Departure,Return,Departure station id,Departure station name,Return station id,Return station name,Covered distance (m),Duration (sec.)
0,2021-05-31T23:57:25,2021-06-01T00:05:46,94,Laajalahden aukio,100,Teljäntie,2043.0,500
1,2021-05-31T23:56:59,2021-06-01T00:07:14,82,Töölöntulli,113,Pasilan asema,1870.0,611
2,2021-05-31T23:56:44,2021-06-01T00:03:26,123,Näkinsilta,121,Vilhonvuorenkatu,1025.0,399
3,2021-05-31T23:56:23,2021-06-01T00:29:58,4,Viiskulma,65,Hernesaarenranta,4318.0,2009
4,2021-05-31T23:56:11,2021-06-01T00:02:02,4,Viiskulma,65,Hernesaarenranta,1400.0,350
...,...,...,...,...,...,...,...,...
785293,2021-05-01T00:00:41,2021-05-01T00:12:19,17,Varsapuistikko,45,Brahen kenttä,1690.0,693
785294,2021-05-01T00:00:32,2021-05-01T00:29:03,2,Laivasillankatu,201,Länsisatamankuja,6344.0,1709
785295,2021-05-01T00:00:30,2021-05-01T00:11:55,25,Narinkka,123,Näkinsilta,2088.0,679
785296,2021-05-01T00:00:30,2021-05-01T00:09:53,17,Varsapuistikko,45,Brahen kenttä,1688.0,558
785297,2021-05-01T00:00:11,2021-05-01T00:04:34,138,Arabiankatu,138,Arabiankatu,1057.0,259

In [ ]:
## Rename columns in order to set them in mongodb

df_stacked = df_stacked.rename(columns={
                        'Departure': 'departure', 
                        'Return': 'return_date',
                        'Departure station id': 'departure_station_id',
                        'Departure station name': 'departure_station_name',
                        'Return station id': 'return_station_id',
                        'Return station name':'return_station_name',
                        'Covered distance (m)':'covered_distance_meters',
                        'Duration (sec.)':'duration_in_sec'


                        
                        })

In [ ]:
df_stacked

,departure,return_date,departure_station_id,departure_station_name,return_station_id,return_station_name,covered_distance_meters,duration_in_sec
0,2021-05-31T23:57:25,2021-06-01T00:05:46,94,Laajalahden aukio,100,Teljäntie,2043.0,500
1,2021-05-31T23:56:59,2021-06-01T00:07:14,82,Töölöntulli,113,Pasilan asema,1870.0,611
2,2021-05-31T23:56:44,2021-06-01T00:03:26,123,Näkinsilta,121,Vilhonvuorenkatu,1025.0,399
3,2021-05-31T23:56:23,2021-06-01T00:29:58,4,Viiskulma,65,Hernesaarenranta,4318.0,2009
4,2021-05-31T23:56:11,2021-06-01T00:02:02,4,Viiskulma,65,Hernesaarenranta,1400.0,350
...,...,...,...,...,...,...,...,...
785293,2021-05-01T00:00:41,2021-05-01T00:12:19,17,Varsapuistikko,45,Brahen kenttä,1690.0,693
785294,2021-05-01T00:00:32,2021-05-01T00:29:03,2,Laivasillankatu,201,Länsisatamankuja,6344.0,1709
785295,2021-05-01T00:00:30,2021-05-01T00:11:55,25,Narinkka,123,Näkinsilta,2088.0,679
785296,2021-05-01T00:00:30,2021-05-01T00:09:53,17,Varsapuistikko,45,Brahen kenttä,1688.0,558
785297,2021-05-01T00:00:11,2021-05-01T00:04:34,138,Arabiankatu,138,Arabiankatu,1057.0,259

In [ ]:
df_stacked.to_json('data.json', orient='records')

## Getting Station Data

In [ ]:

data_url = "https://opendata.arcgis.com/datasets/726277c507ef4914b0aec3cbcfcbfafc_0.csv"

df_stations = pd.read_csv(data_url)

In [ ]:
df

,FID,ID,Nimi,Namn,Name,Osoite,Adress,Kaupunki,Stad,Operaattor,Kapasiteet,x,y
0,1,501,Hanasaari,Hanaholmen,Hanasaari,Hanasaarenranta 1,Hanaholmsstranden 1,Espoo,Esbo,CityBike Finland,10,24.840319,60.165820
1,2,503,Keilalahti,Kägelviken,Keilalahti,Keilalahdentie 2,Kägelviksvägen 2,Espoo,Esbo,CityBike Finland,28,24.827467,60.171524
2,3,505,Westendinasema,Westendstationen,Westendinasema,Westendintie 1,Westendvägen 1,Espoo,Esbo,CityBike Finland,16,24.805758,60.168266
3,4,507,Golfpolku,Golfstigen,Golfpolku,Golfpolku 3,Golfstigen 3,Espoo,Esbo,CityBike Finland,16,24.796136,60.168143
4,5,509,Revontulentie,Norrskensvägen,Revontulentie,Revontulentie 10,Norrskensvägen 10,Espoo,Esbo,CityBike Finland,30,24.802938,60.171551
...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,453,401,Koivusaari (M),Björkholmens metrostation,Koivusaari metro station,Sotkatie 11,Dykandsvägen 11,,,,16,24.855164,60.163386
453,454,402,Bermudankuja,Bermudagränden,Välimerenkatu,Atlantinkatu 10,Atlantgatan 10,,,,16,24.910142,60.154904
454,455,403,Verkkosaari,Nätholmen,Verkkosaari,Tukkutorinkuja 3,Partitorgsgränden,,,,20,24.977548,60.189556
455,456,404,Sompasaari,Sumparn,Sompasaari,Sompasaarenlaituri 2,Sumparkajen 2,,,,14,24.976076,60.182931
456,457,405,Jollas,Jollas,Jollas,Jollaksentie 33,Jollasvägen 33,,,,16,25.061668,60.164407

Saving the Data into json

In [ ]:
df_stations.to_json('station_data.json', orient='records')